/assets/models/** filter=lfs diff=lfs merge=lfs -text
/artifacts/chroma/** filter=lfs diff=lfs merge=lfs -text
/deploy/huggingface/assets/models/** filter=lfs diff=lfs merge=lfs -text
/deploy/huggingface/artifacts/chroma/** filter=lfs diff=lfs merge=lfs -text
